<h1>IMDbc</h1>
<h2>A Conversation about film. A celebration of the critic.</h2>
<h4>Learn about our trusted critics and network of users <%= link_to 'HERE', users_path %>.</h4>
<h4>CLICK on a movie title to read reviews:</h4>
<ul>
  <% @movies.each do |movie| %>
   <div style=background-image:url(/assets/big-star.png);width:81px;height:81px;margin-top:10px;><p style=position:relative;line-height:85px;text-align:center;> <%= movie.average_ratingz(true) %></p></div></li>

  <li><%= link_to "#{movie.title}", movie_path(movie) %> <span id="release_date"><%= movie.release_date %></span></li>

  <% end %>
</ul>
