<h1>Movie Show Page!</h1>
<ul>
  <h2><%= @movie.title %></h2>
  <li><%= @movie.synopsis %></li>
  <li><%= @movie.release_date %></li>

  <li><% @movie.reviews.each do |review| %></li>
  <li><%= link_to "#{movie_review_path review.title}", movie_review_path %></li>
  <% end %>
</ul>
